## 7 segment display
NET "sseg<7>"      LOC = "L18";     # Bank = 1, Pin name = IO_L10P_1, Type = I/O,                         Sch name = CA
NET "sseg<6>"      LOC = "F18";     # Bank = 1, Pin name = IO_L19P_1, Type = I/O,                         Sch name = CB
NET "sseg<5>"      LOC = "D17";     # Bank = 1, Pin name = IO_L23P_1/HDC, Type = DUAL,                    Sch name = CC
NET "sseg<4>"      LOC = "D16";     # Bank = 1, Pin name = IO_L23N_1/LDC0, Type = DUAL,                   Sch name = CD
NET "sseg<3>"      LOC = "G14";     # Bank = 1, Pin name = IO_L20P_1, Type = I/O,                         Sch name = CE
NET "sseg<2>"      LOC = "J17";     # Bank = 1, Pin name = IO_L13P_1/A6/RHCLK4/IRDY1, Type = RHCLK/DUAL,  Sch name = CF
NET "sseg<1>"      LOC = "H14";     # Bank = 1, Pin name = IO_L17P_1, Type = I/O,                         Sch name = CG
NET "sseg<0>"      LOC = "C17";     # Bank = 1, Pin name = IO_L24N_1/LDC2, Type = DUAL,                   Sch name = DP

NET "anode<0>"       LOC = "F17";     # Bank = 1, Pin name = IO_L19N_1, Type = I/O,                         Sch name = AN0
NET "anode<1>"       LOC = "H17";     # Bank = 1, Pin name = IO_L16N_1/A0, Type = DUAL,                     Sch name = AN1
NET "anode<2>"       LOC = "C18";     # Bank = 1, Pin name = IO_L24P_1/LDC1, Type = DUAL,                   Sch name = AN2
NET "anode<3>"       LOC = "F15";     # Bank = 1, Pin name = IO_L21P_1, Type = I/O,                         Sch name = AN3


## Switches
NET "switch<0>"       LOC = "G18";     # Bank = 1, Pin name = IP, Type = INPUT,  Sch name = SW0
NET "switch<1>"       LOC = "H18";     # Bank = 1, Pin name = IP/VREF_1, Type = VREF, Sch name = SW1
NET "switch<2>"       LOC = "K18";     # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW2
#NET "switch<3>"       LOC = "K17";     # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW3
#NET "switch<4>"       LOC = "L14";     # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW4
#NET "switch<5>"       LOC = "L13";     # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW5
#NET "switch<6>"       LOC = "N17";     # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW6
NET "switch<3>"       LOC = "R17";     # Bank = 1, Pin name = IP, Type = INPUT, 

## Buttons
NET "rst"		     LOC = "B18";     # Bank = 1, Pin name = IP, Type = INPUT, 
#NET "rst_for_CPU"   LOC = "G18";     # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW0
#NET "rotate"       LOC = "H18";     # Bank = 1, Pin name = IP/VREF_1, Type = VREF, Sch name = SW1
#NET "switch<2>"       LOC = "K18";     # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW2
#NET "switch<3>"       LOC = "K17";     # Bank = 1, Pin name = IP, Type = INPUT, Sch name = SW3

## Clock pin for Nexys 2 Board
NET "clk"         LOC = "B8";      # Bank = 0, Pin name = IP_L13P_0/GCLK8, Type = GCLK, Sch name = GCLK0
#NET "clk1"        LOC = "U9";      # Bank = 2, Pin name = IO_L13P_2/D4/GCLK14, Type = DUAL/GCLK, Sch name = GCLK1

## PS/2 connector
NET "ps2_clk_in"   LOC = "R12";     # Bank = 2, Pin name = IO_L20N_2, Type = I/O, Sch name = PS2C
NET "ps2_data_in"  LOC = "P11"; # Bank = 2, Pin name = IO_L18P_2, Type = I/O, Sch name = PS2D

## Leds
NET "led_out<0>" LOC = "J14"; # Bank = 1, Pin name = IO_L14N_1/A3/RHCLK7, Type = RHCLK/DUAL,Sch name = JD10/LD0
NET "led_out<1>" LOC = "J15"; # Bank = 1, Pin name = IO_L14P_1/A4/RHCLK6, Type = RHCLK/DUAL,Sch name = JD9/LD1
NET "led_out<2>" LOC = "K15"; # Bank = 1, Pin name = IO_L12P_1/A8/RHCLK2, Type = RHCLK/DUAL,Sch name = JD8/LD2
NET "led_out<3>" LOC = "K14"; # Bank = 1, Pin name = IO_L12N_1/A7/RHCLK3/TRDY1, Type = RHCLK/DUAL,  Sch name = JD7/LD3
NET "led_out<4>" LOC = "E16"; # Bank = 1, Pin name = N.C., Type = N.C., Sch name = LD4? other than s3e500
NET "led_out<5>" LOC = "P16"; # Bank = 1, Pin name = N.C., Type = N.C., Sch name = LD5? other than s3e500
NET "led_out<6>" LOC = "E4"; # Bank = 3, Pin name = N.C., Type = N.C., Sch name = LD6? other than s3e500
NET "led_out<7>" LOC = "P4"; # Bank = 3, Pin name = N.C., Type = N.C., Sch name = LD7? other than s3e500